/* GENERAL STYLES */

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Comfortaa', cursive, 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #fff url(../images/footprint1.jpg) right bottom repeat-x;
  background: #fff url(../images/footprint2.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  text-align: center;
  background-size: 4%;
}

header h1 {
  /*width: 540px;*/
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #cf2e7b;
  letter-spacing: -1px;

}

header h2 {
 /* width: 540px;*/
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}

header img{
	display: inline-block;
	width: 25%;
	position: absolute;
	
	box-sizing: border-box;
	border: 0px solid #959595;
	/*top: 72px;*/
  	
  	/*margin-top: 40px;*/
}
#img1{
	float: right;
	left: 5%;
}
#img2{
	float: left;
	right: 5%;
}

#img_up{
	display: block;
	position: absolute;

}
/* NAVIGATION */
/*.page-navigation {
	background-color: #2e7bcf;
	border-color: #101010;
	min-height: 64px;
}
.page-navigation li {
	float: left;
	width: 100px;
}
.page-navigation a {
	display: block;
	color: #fff;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
.page-navigation li a:hover {
	color: yellowgreen;
	background-color: black;
}


.container {
	margin: 0 auto;
	width: 960px;
}*/
/* LOGIN FORM */
/*.login {
	padding: 15px 0;
	float: right;
}
.login input[type="text"],
.login input[type="password"] {
	padding: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}
.login input[type="submit"] {
	padding: 5px 15px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}
.login input[type="submit"]:hover,
button:hover {
	background-color: darkgrey;
	color: white;
}*/

/* HEADER */
.header {
	padding: 50px 0;
	background-color: #fff;
	height: 81vh;
}
.header h1,
.header h2 {
	text-align: center;
}

/* MAIN PART */
.collections {
	overflow: auto;
	margin-left: 33.3%;
    margin-right: 33.3%;
    width: 33.3vw;
}

}
.collection-text {
	padding: 0 20px 20px 20px;

}
.collection-text h3 {
	color: yellowgreen;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.collection-text p {
	height: 80px;
	overflow: hidden;
	width: 33.3vw;
	text-align: justify;
}
.collection-text button {
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	outline: none;
}

/* FOOTER */
.footer {
	top: 0vh!important;
}
/*a.button {
  width: 134px;
  height: 58px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button small {
  display: block;
  font-size: 11px;
}
footer a.button {
  position: absolute;
  right: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}*/
/*.collection-title {
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
	font-size: 36px;
}*/
/*.collection-title small {
	color: #777;
	font-size: 70%;
}*/
/*.collection-item-outer {
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: 33.33%;
	margin-left: 25%;
	box-sizing: border-box;
}*/
/*.collections > div:first-child {
	padding-left: 0;
	padding-right: 10px;
}
.collections > div:last-child {
	padding-right: 0;
	padding-left: 10px;
}
.collection-item {
	border: 1px solid #959595;
}*/
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
